header {
    background-color: var(--color-bg-header);
    height: 120px;
    display: flex;
    align-items: center;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left h1 {
    color: var(--color-font-tertiary);
}

.nav-rigth {
    color: var(--color-font-tertiary);
    display: flex;
    align-items: center;
}

.links-content {
    display: none;
}

.nav-item {
    margin-right: 10px;
}

.nav-rigth img {
    width: 62px;
    height: 62px;
    border-radius: 50%;
}

@media (min-width: 576px){
    .links-content{
        display: inline;
        display: flex;
    }
}