@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --color-bg-primary: #EDF1D6;
  --color-bg-secundary: #9DC08B;
  --color-bg-tertiary: #DDDDDD;
  --color-bg-quaternary: #EEEEEE;
  --color-bg-header: #40513B;

  --color-font-primary: #609966;
  --color-font-secundary: #40513B;
  --color-font-tertiary: #fff;


}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  background-color: var(--color-bg-primary);
}

.container {
  width: 100%;
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
}

.mb20 {
  margin-bottom: 20px;
}

/*--------------------------------------------------------
----Contact-styles----*/

.card-contact-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.card-contact-box {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: var(--color-bg-primary);
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-contact {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

 h6{
  margin-bottom: 20px;
  font-size: 20px;
}

.info-contact {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.info-contact img{
  height: 30px;
  margin-right: 10px;
}

.card-contact-btn {
  font-weight: 700;
  cursor: pointer;
}